<!-- <%# action == :edit ? action_url = cat_url(@cat) : action_url = cats_url %> -->
<% cat.persisted? ? action_url = cat_url(@cat) : action_url = cats_url %>

<form action="<%= action_url %>" method="POST">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label for="name">Name</label>
  <input type="text" name="cat[name]" id="name" value="<%=@cat.name%>">

  <br />

  <label>Sex
    <label>M
      <input <%= @cat.sex == "M" ? "checked" : "" %> type="radio" name="cat[sex]" value="M" id="sex1">
    </label>
    <label>F
      <input <%= @cat.sex == "F" ? "checked" : "" %> type="radio" name="cat[sex]" value="F" id="sex2">
    </label>
  </label>
  <br />

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled <%= action == :edit ? "" : "selected" %> >Option</option>
    <% Cat::CAT_COLORS.each do |color| %>
    <option value="<%=color%>" <%= @cat.color == color ? "selected" : "" %>> <%= color.capitalize %></option>
    <% end %>
  </select>
  <br />
  <label for="date">Birth Date</label>
  <input type="date" name="cat[birth_date]" id="date" value="<%=@cat.birth_date%>">
  <br>
  <label for="description">Description</label>
  <textarea name="cat[description]"><%=@cat.description%></textarea>
  <br />
  <input type="submit" value="Submit">
</form>
