<h1><%= @cat.name %></h1>

<ul>
  <li>Birth Date: <%= @cat.birth_date %></li>
  <li>Sex: <%= @cat.sex %></li>
  <li>Color: <%= @cat.color %></li>
  <li>Description: <textarea name="description"><%= @cat.description %></textarea></li>
</ul>
